@import '~@fluentui/react/dist/sass/References.scss';




.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchBar {
  width: 33%; /* Ocupa el 25% del ancho de la página */
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  min-width: 300px; /* Opcional, define un ancho mínimo */
  max-width: 600px; /* Opcional, define un ancho máximo */
}

.searchButton {
  display: flex;
  align-items: center;
  background-color: #0078d4;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchIcon {
  margin-right: 4px;
  color: white;
  width: 16px;
  height: 16px;
}

.loading,
.error {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.loading {
  color: #0078d4;
}

.error {
  color: red;
}

.tableHeader {
  display: table;
 
  background-color: #f3f2f1;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}




.groupHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  background-color: #fffefd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  margin-left: calc(var(--group-nesting-depth, 0) * 20px); /* Espaciado dinámico */
}
.detailsRow {
    display: grid;
    grid-template-columns: 40px repeat(auto-fit, minmax(150px, 1fr));
    padding: 4px 12px;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.detailsCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
}




.groupIcon {
  margin-right: 8px;
}

.groupFooter {
  padding: 10px;
  font-size: 14px;
  color: #666;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  text-align: center;
}

.fileName {
  display: flex; /* Mantenemos flex para el icono y el texto */
  align-items: center; /* Alineación vertical centrada */
  font-size: 14px;
  color: #333;
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si se recorta */
  white-space: pre-wrap; /* Permite que el texto se ajuste a varias líneas */
  word-break: break-word; /* Rompe palabras largas para evitar desbordamiento */
}

.fileIcon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  color: #0078d4;
}

.dataTableContainer {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: calc(var(--nivel, 0) * 20px);

}
.ultimoNivel {

  background-color: white;

  margin-left: calc(var(--nivel, 0) * 20px);

}


.dataTableWrapper {
  margin-top: 10px;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.tableHeaderCell {
  display: table-cell;
  width: 110px; /* Mantén el mismo ancho que las celdas */
  max-width: 110px !important;
  min-width: 110px !important;
  padding: 8px;
  text-align: left;
  border-right: 1px solid #ddd;
  vertical-align: top;
  color: #140a9a;

  word-wrap: break-word; /* Permite que el texto se divida en varias líneas */
  overflow-wrap: break-word; /* Alternativa para navegadores modernos */
  white-space: normal; /* Permite que el texto se divida en líneas en lugar de permanecer en una sola */
    
}

.tableHeaderCell2 {
  display: table-cell;
  width: 110px; /* Mantén el mismo ancho que las celdas */
  max-width: 110px !important;
  min-width: 110px !important;
  padding: 8px;
  text-align: left;
  border-right: 1px solid #ddd;
  vertical-align: top;
  color: #140a9a;

  word-wrap: break-word; /* Permite que el texto se divida en varias líneas */
  overflow-wrap: break-word; /* Alternativa para navegadores modernos */
  white-space: normal; /* Permite que el texto se divida en líneas en lugar de permanecer en una sola */
    
}

.tableHeaderCell:first-child {
  width: 230px; /* Doble del tamaño normal */
  max-width: 230px !important;
  min-width: 230px !important;
}


.tableHeaderCell2:first-child {
  width: 210px; /* Doble del tamaño normal */
  max-width: 210px !important;
  min-width: 210px !important;
}

.tableCell:first-child {
    width: 210px !important; /* Fuerza el tamaño */
    max-width: 210px !important;
    min-width: 210px !important;
}

.tableCell {

  display: table-cell;
  width: 110px; /* Mantén el mismo ancho que las celdas */
  max-width: 110px !important;
  min-width: 110px !important;
  padding: 8px;
  text-align: left;
  border-right: 1px solid #ddd;
  vertical-align: top;

}



.paginationControls {
  margin-top: 10px;
  text-align: center;
}

.paginationButton {
  padding: 5px 10px;
  background-color: #140a9a;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.paginationButton:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.paginationButton:hover:not(:disabled) {
  background-color: #140a9a;
}

.paginationText {
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
}