* {
  box-sizing: border-box;
  font-family: 'Arial Narrow';
  font-size: 12px;
}

.selectArea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.botonSubmit {
  background-color: rgba(225, 14, 126, .8);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-right: 40px;
  padding: 12px 20px;
  width: 90%;
}

.botonSubmit:disabled {
  background-color: #ccc; /* color de fondo gris claro */
  border: 1px solid #ddd; /* borde gris claro */
  color: #999; /* texto gris claro */
  cursor: not-allowed; /* cambia el cursor a "no permitido" */
  pointer-events: none; /* desactiva todos los eventos de ratón */
}

.botonSubmit:hover {
  background-color: RGBA(225,14,126,1);
}

.container {
  width: 800px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
  margin-left: 0px;
  
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 0px;
  
}

.col-25b {
  float: right;
  width: 25%;
  margin-top: 6px;
  margin-left: 0px;
  
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
  margin-left: 0px;
  
}

.col-40 {
  float: left;
  width: 39%;
  margin-top: 6px;
  margin-left: 0px;
  
}

.col-60 {
  float: left;
  width: 60%;
  margin-top: 6px;
  margin-left: 4px;
  
}

.border
{
 border-radius: 4px;
 border-color: #f2f2f2;
 border:1px solid #c3c3c3;
 padding: 4px;
 margin-right:6px;
 height: 180px;
}

.border-center {
 border-radius: 4px;
 border-color: #f2f2f2;
 border:1px solid #c3c3c3;
 padding: 4px;
 margin-right:6px;
 height: 180px;
 align-items: center;
 display: flex;
}

.col-75 {
  float: left;
  width: 74%;
  margin-top: 6px;
  margin-left: 4px;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.header-cabecera-100 {
  border-radius: 4px;
  background-color: RGBA(135,162,39,0.8);
  padding: 0px;
  text-align:center;
  font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1040px) {
  .col-25, .col-20,.col-30,.col-40,.col-60, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 4px;
  }
  .header-cabecera-100 {
  border-radius: 5px;
  background-color: #87A227;
  padding: 4px;
  margin-bottom:4px;
  text-align:center
}


}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}
